<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <servlet>
        <servlet-name>AddResult</servlet-name>
        <servlet-class>StudentResult.Controller.AddResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>StudentResult.Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Signup</servlet-name>
        <servlet-class>StudentResult.Controller.Signup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResultServlet</servlet-name>
        <servlet-class>StudentResult.Controller.SearchResultAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>StudentResult.Controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeeResultStudent</servlet-name>
        <servlet-class>StudentResult.Controller.SeeResultStudent</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddResult</servlet-name>
        <url-pattern>/Add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResultServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeeResultStudent</servlet-name>
        <url-pattern>/studentdisplay</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>view/Login.jsp</welcome-file>
    </welcome-file-list>

</web-app>
